workflow.json
{
    "name": "Alerta Crypto",
    "flow": [
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://data-api.binance.vision/api/v3/ticker/24hr?symbol=BTCUSDT&type=FULL",
                "method": "get",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "PrecioUSD",
                        "value": "{{2.data.lastPrice}}"
                    },
                    {
                        "name": "Cambio-Real",
                        "value": "{{2.data.priceChangePercent}}"
                    },
                    {
                        "name": "Cambio-Absoluto",
                        "value": "{{abs(2.data.priceChangePercent)}}"
                    },
                    {
                        "name": "Fecha",
                        "value": "{{now}}"
                    },
                    {
                        "name": "Alertando ahora",
                        "value": "{{abs(2.data.priceChangePercent) >= \"5\n\"}}"
                    },
                    {
                        "name": "Cambio_abs",
                        "value": "{{abs(2.data.priceChangePercent)}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "PrecioUSD",
                        "type": "any",
                        "label": "PrecioUSD"
                    },
                    {
                        "name": "Cambio-Real",
                        "type": "any",
                        "label": "Cambio-Real"
                    },
                    {
                        "name": "Cambio-Absoluto",
                        "type": "any",
                        "label": "Cambio-Absoluto"
                    },
                    {
                        "name": "Fecha",
                        "type": "any",
                        "label": "Fecha"
                    },
                    {
                        "name": "Alertando ahora",
                        "type": "any",
                        "label": "Alertando ahora"
                    },
                    {
                        "name": "Cambio_abs",
                        "type": "any",
                        "label": "Cambio_abs"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 69495
            },
            "mapper": {
                "key": "btc",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 624,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "BTC-Estado-Alerta"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "Estado de alerta (true si ya se envió alerta y sigue en condición)",
                        "name": "Alertando",
                        "type": "boolean",
                        "label": null,
                        "default": false,
                        "required": false
                    },
                    {
                        "help": "Fecha/hora del último email enviado",
                        "name": "Ultimo_Envio",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "% cambio 24h al momento del último estado",
                        "name": "Ultimo_Cambio",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "Precio BTC en USD al momento del último estado",
                        "name": "Ultimo_Precio",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 924,
                    "y": 2
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6967049
                            },
                            "filter": {
                                "name": "Enviar Alerta",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`Alertando ahora`}}",
                                            "b": "{{true}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{18.Alertando}}",
                                            "b": "{{null | false}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "camilop.evideo@gmail.com"
                                ],
                                "subject": "🚨 Alerta BTC: cambio 24h: {{round(3.`Cambio-Real`)}}%",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "Alerta detectada (umbral: 3%)\n\n• Precio BTC (USD): ${{3.PrecioUSD}}\n• Cambio 24h: {{round(3.`Cambio-Real`)}}%\n\nHora: {{now}}\n",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1224,
                                    "y": -298
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (camilop.evideo@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "contents",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content"
                                        },
                                        "type": "array",
                                        "label": "Body contents"
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6966958
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{now}}",
                                    "1": "{{3.PrecioUSD}}",
                                    "2": "{{3.`Cambio-Real`}}",
                                    "3": "{{3.`Cambio-Absoluto`}}"
                                },
                                "sheetId": "Oportunidades de Compra-Venta",
                                "spreadsheetId": "/1HuYxDM1Yv1Dy_svzG6_qmxK2ek92CjGQ/1hwO-UG87P7hacuzHrBhqKb6H-Fi_ZhD-A2MRP0tNhjM",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1584,
                                    "y": -298
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Oportunidades de Compra-Venta"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Pre-entrega",
                                                "Precio de BTC"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Fecha (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Precio BTC USD (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Cambio (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Cambio Absoluto (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (camilop.evideo@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Fecha (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Precio BTC USD (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Cambio (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Cambio Absoluto (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 69495
                            },
                            "mapper": {
                                "key": "btc",
                                "data": {
                                    "Alertando": true,
                                    "Ultimo_Envio": "{{now}}",
                                    "Ultimo_Cambio": "{{3.`Cambio-Absoluto`}}",
                                    "Ultimo_Precio": "{{3.PrecioUSD}}"
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1966,
                                    "y": -299
                                },
                                "restore": {
                                    "expect": {
                                        "data": {
                                            "nested": {
                                                "Alertando": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "BTC-Estado-Alerta"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Alertando",
                                                "type": "boolean",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Envio",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Cambio",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Precio",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6966958
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{now}}",
                                    "1": "{{3.PrecioUSD}}",
                                    "2": "{{3.`Cambio-Real`}}",
                                    "3": "{{3.`Cambio-Absoluto`}}"
                                },
                                "sheetId": "Registro Regular",
                                "spreadsheetId": "/1HuYxDM1Yv1Dy_svzG6_qmxK2ek92CjGQ/1hwO-UG87P7hacuzHrBhqKb6H-Fi_ZhD-A2MRP0tNhjM",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1235,
                                    "y": 248
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Registro Regular"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Pre-entrega",
                                                "Precio de BTC"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Fecha (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Precio BTC USD (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Cambio (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Cambio Absoluto (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (camilop.evideo@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Fecha (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Precio BTC USD (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Cambio (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Cambio Absoluto (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 69495
                            },
                            "filter": {
                                "name": "Reiniciar_alerta",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`Alertando ahora`}}",
                                            "b": "{{false}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{18.Alertando = null}}",
                                            "b": "{{false}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{18.Alertando}}",
                                            "b": "{{true}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "btc",
                                "data": {
                                    "Alertando": false,
                                    "Ultimo_Envio": "{{now}}",
                                    "Ultimo_Cambio": "{{3.`Cambio-Absoluto`}}",
                                    "Ultimo_Precio": "{{3.PrecioUSD}}"
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1664,
                                    "y": 246
                                },
                                "restore": {
                                    "expect": {
                                        "data": {
                                            "nested": {
                                                "Alertando": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "BTC-Estado-Alerta"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Alertando",
                                                "type": "boolean",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Envio",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Cambio",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "Ultimo_Precio",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
